<h1>Pizza Pizza</h1>
<p>Find pizza joints near you!</p>

 <div id="map"></div>
<!-- http://localhost:3000/api/places -->

<script>
$.getJSON("/api/places")
.done(function(data){
  var pizzaIcon = L.icon({
    iconUrl: 'http://apps.timwhitlock.info/static/images/emoji/emoji-apple/1f355.png',
    iconSize:    [40, 40], // size of the icon
    iconAnchor:  [0, 0], // point of the icon which will correspond to marker's location
    popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
});
  data.places.forEach(function(pizza){
      L.marker([pizza.lat, pizza.lng], {icon: pizzaIcon})
      .addTo(window.map)
      .bindPopup(pizza.name);
});
  });
</script>
